<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.mapper.MsgMapper">
    <select id="queryAll" resultType="message">
        select id,sendid,title,msgcontent,state,receiveid,msg_create_date msgCreateDate from messages where
        receiveid=#{id} order by msg_create_date desc
    </select>

    <delete id="delete">
        delete from messages where id =#{id}
    </delete>

    <select id="query" resultType="message">
        select id,sendid,title,msgcontent,state,receiveid,msg_create_date msgCreateDate from messages where id =#{id}
    </select>

    <update id="update">
        update Messages set state = #{state} where id =#{id}
    </update>

    <insert id="save">
        insert into messages values(null,#{sendid},#{title},#{msgcontent},#{state},#{receiveid},#{msgCreateDate})
    </insert>

    <select id="queryAllByReceiveId" resultType="message">
        select id,sendid,title,msgcontent,state,receiveid,msg_create_date msgCreateDate from messages where
        receiveid=#{receiveid} order by msg_create_date
    </select>
</mapper>